@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@tailwind utilities;

// Primeng does provide built error
// maintain this config based on selected Primeng built-in theme
.text-danger-lighter {
  color: #ef4444;
}
.text-danger {
  color: #dc2626;
}
.text-danger-darker {
  color: #b91c1c;
}
